CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.html



.cproject
.project

figures/*.pdf


*.docx

exp2/list
exp2/list-m
exp2/list-p
exp2/list-pm
exp2/list-pml
exp2/list-pmla
exp2/trace-.txt
exp2/trace-p.txt
exp2/trace-pm.txt
exp2/trace-pml.txt
exp2/trace-pmla.txt
